body{
background: linear-gradient(#05FBFF, #1E00FF) fixed;
}

h1{
border-style: solid;
border-width: 3px;
border-color: #000000;
text-align : center;
}

h3{
text-align : center;
}

a{
text-decoration : none;
}

#wrapper{
text-align: right;
}
